<h1>Hometask</h1>

<%=form_for TaskFile.new, :html => {:multipart => true} do |s|%>

<div class="field">

<%=s.label :file %><br />

<%=s.file_field :f%>

  </div>

<% end %>

<%= link_to 'Add task', new_task_path %>

<table border="1">
<tr>
    <td>Surname</td>
    <td>Name</td>
    <td>Patronymic</td>
    <% @tasks.each do |s| %>
         <td><%= (s.homework + (s.number/10))%></td> 
    <% end %>
</tr>
<% @users.each do |s| %>
  <tr>
    <td><%= s.surname%></td>
    <td><%= s.name%></td>
    <td><%= s.patronymic%></td>

    <% @tasks.each do |t| %>
        <td><%= Unit.where(surname: s.surname, homework: t.homework, number: t.number).take.state %></td>
    <% end %>

      <td><%= link_to 'Edit', edit_user_path(s) %></td>
      <td><%= link_to 'Destroy', user_path(s),
                   method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>




